// color vars
$charcoal: #6c6c6c;
$olive: #b8b690;
$orange: #d97036;
$beige: #e2ddb7;
$creme: #fcfbf7;
$near-black: #191919;

$bkgd-img: '../resources/img/grit.png';

// mixins
@mixin font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: local($font-name), url('../resources/font/' + $font-name + '.ttf');
  }
}

@mixin bkgd-transition($duration: 0.5s, $easing: ease) {
  -moz-transition: background $duration $easing;
  -webkit-transition: background $duration $easing;
}

// Styles for canvas
html {
  height: 100%;
  background: #f1eedc url($bkgd-img) repeat;
  @include bkgd-transition;

  &#day {
    body { background-color: $creme; }
    #optionTab { background: #f1eedc url($bkgd-img) repeat right; }
    hr { background-color: #cfccab; }
    div#controls span, div#optionTabText { color: $charcoal; }
  }

  &#night {
    background: #434237 url($bkgd-img) repeat;
    body { background-color: $near-black; }
    #optionTab { background: #434237 url($bkgd-img) repeat right; }
    hr { background-color: #7c7961; }
    div#controls span, div#optionTabText { color: #aaa; }
  }
}

body {
  font-family: 'Raleway-Light';
  border-radius: 10px;
  background: $creme;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  color: $charcoal;
  -moz-user-select: none;
  -webkit-user-select: none;
  @include bkgd-transition;
}

h1 {
  margin: 0;
  padding: 80px;
  text-shadow: 2px 2px 5px #555555;
  font-size: 75px;
  font-weight: normal;
  font-family: 'Dancing-Script';
}


// Styles for blocks and time digits
div#clockWidget, div#timeDisplay {
  top: 50%;
  left: 50%;
  position: absolute;
}

div#clockWidget {
  margin-top: -200px;
  margin-left: -300px;
  height: 400;
  width: 600;
}

div#timeDisplay {
  display: none;
  letter-spacing: 2px;
  font-family: 'Raleway-Thin';

  &.horizontal {
    width: 150px;
    margin-top: -150px;
    margin-left: -515px;

    div { height: 100px; }
  }

  &.vertical {
    width: 450px;
    margin-top: 230px;
    margin-left: -225px;

    div {
      width: 150px;
      text-align: center;
      display: inline-block;
    }
  }

  span {
    &.label {
      float: left;
      font-size: 40px;
      line-height: 95px;
    }

    &.time { font-size: 35px; }

    &.horizontal {
      float: right;
      line-height: 100px;
    }
  }
}

div.block {
  border-radius: 8px;
  width: 67px;
  height: 27px;
  text-align: center;
  display: inline-block;
  line-height: 27px;
  font-size: 18px;
  @include bkgd-transition(0.2s, ease-in);

  &.row2 {
    border: 3px solid #a0a078;
    background: $olive url($bkgd-img) repeat;

    &.dark { background: $olive url($bkgd-img) repeat; }
    &.light { background: rgba(244, 243, 235, 0.1) url($bkgd-img) repeat; }
  }

  &.row1 {
    border: 3px solid #c85b2c;
    background: $orange url($bkgd-img) repeat;

    &.dark { background: $orange url($bkgd-img) repeat; }
    &.light { background: rgba(248, 236, 226, 0.1) url($bkgd-img) repeat; }
  }

  &.row0 {
    border: 3px solid #c3c19b;
    background: $beige url($bkgd-img) repeat;

    &.dark { background: $beige url($bkgd-img) repeat; }
    &.light { background: rgba(248, 247, 239, 0.1) url($bkgd-img) repeat; }
  }

  > span { color: #444; }
}


// Styles for options
div#optionTab {
  background: #f1eedc url($bkgd-img) repeat right;
  letter-spacing: 2px;
  top: 50%;
  left: 100%;
  position: absolute;
  margin-top: -47px;
  margin-left: -26px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 94px;
  width: 44px;
  cursor: default;
  @include bkgd-transition;
  -webkit-backface-visibility: hidden;  // eliminates trailing border lines during animation
}                                       // http://stackoverflow.com/questions/12273528/trailing-border-lines-in-chrome

div#optionTabText {
  margin-top: 46px;
  margin-left: -5px;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

div#controls {
  width: 213px;
  display: none;
  position: relative;
  padding: 15px 0 15px 15px;

  span {
    display: inline-block;
    letter-spacing: 1px;

    &.disabled { opacity: 0.7; }
  }

  &.dark {
    span.disabled { opacity: 0.4; }

    button {
      color: #aaa;
      background-color: #424236;
      border: 1px solid #7c7961;

      &:hover { background-color: #323226; }

      &[disabled] {
        opacity: 0.4;

        &:hover, &:focus, &:active {
          color: #aaa;
          background-color: #424236;
        }
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  margin-right: 2px;
  background-color: #cfccab;
}

span#titleBtnLabel,
span#timeDisplayBtnLabel,
span#blockNumberBtnLabel {
  width: 46px;
}

div#mode span, div#layout span {
  width: 135px;
  float: left;
}

div#mode {
  &.day span { line-height: 58px; }
  &.night span { line-height: 57px; }
}

div#layout {
  &.horizontal span { line-height: 56px; }
  &.vertical span { line-height: 45px; }
}


// Styles for option panel buttons
button {
  color: $charcoal;
  font-size: .9em;
  font-family: 'Raleway-Light';
  letter-spacing: 1px;
  margin: 4px 0;
  cursor: pointer;
  @include bkgd-transition(0.4s);
  border: 1px solid #cfccab; 
  background-color: #f3f1e4;
  border-radius: 6px;
  line-height: 1.2;
  padding: 5px;

  &:hover, &:focus, &:active {
    color: #444;
    background-color: #faf7f0;
  }

  &:active { background-color: #f3f1e4; }

  &[disabled] {
    cursor: default;
    opacity: 0.6;

    &:hover, &:focus, &:active {
      color: $charcoal;
      background-color: #f3f1e4;
    }
  }

  &#sun { padding: 3px 4px 0px 3px; }
  &#moon { padding: 3px 5px 0px 4px; }

  &#vertical, &#horizontal { padding: 5px 7px 2px; }
  &#horizontal { margin-right: 0; }
  
  &#sun, &#horizontal { display: none; }
}

// Import fonts
@include font-face('Raleway-Thin');
@include font-face('Raleway-Light');
@include font-face('Dancing-Script');
